#topbar {
    position: fixed;
    top: 0;
    left: 104px;
    height: 70px;
    min-width: 1280px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    padding: 15px 10px;
}

.top-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.search-input {
    padding: 10px 6px;
}