#lowbar {
    position: fixed;
    top: 140px;
    left: 104px;
    min-width: 1280px;
    height: 70px;
    padding: 12px 10px;
}

.low-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

select {
    padding: 7px 14px;
}