#menu {
    display: flex;
    flex-direction: column;
}

#options {
    border-radius: 8px;
    padding: 15px 12px;
    border-color: var(--main-dark-line);
    background: var(--main-dark-bg2);
    color: var(--font-white);
}

#menu-grid {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, minmax(210px, 1fr));
}


.item__out-of-stock{
    display: none;
}

.err__msg {
    color: var(--font-white);
}


.options-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: var(--font-white);

    p {
        font-size: 20px;
        font-weight: 600;
    }
}