.settings {
    margin-left: 110px;
    padding: 20px;
}

.page__title {
    display: flex;
    align-items: center;
    padding: 10px 20px 20px 0;
    color: var(--font-white);
    font-size: 28px;
    font-weight: 600;
}

.page__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}