.dash__header {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--font-white);
    padding: 5px 20px 20px 5px;

    
    .page__name {
        font-size: 28px;
        font-weight: 600;
    }

    .date {
        color: var(--font-lighter);
        font-size: 16px;
    }
}