.header {
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    position: fixed;
    background: var(--main-dark-bg);
    color: var(--font-white);
    padding-bottom: 20px;
    font-weight: 500;
    z-index: 100;
}

.date {
    color: var(--font-lighter);
    font-size: 16px;
}

.top-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.nav-link {
    text-decoration: none;
    color: var(--font-white);
    font-size: var(--small-font);
    transition: .3s;

    &:hover {
        color: var(--main-light);
    }
}



.search-input {
    padding: 15px 10px;
    background: var(--main-dark-bg);
    border: 2px solid var(--main-dark-line);
    border-radius: 5px;
    color: var(--font-light);
    font-size: var(--small-font);
}

select {
    padding: 7px 14px;
}

.nav-list {
    width: 80%;
    height: 100%;
    padding: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-container {
    border-bottom: 2px solid var(--main-dark-line);
}