// #navbar {
//     width: 100%;
//     height: 70px;
//     display: flex;
//     flex-direction: column;
//     position: fixed;
//     top: 120px;
//     background: var(--main-dark-bg);
//     color: var(--font-white);
//     // padding-bottom: 20px;
//     font-weight: 500;
//     z-index: 100;
//     cursor: pointer;
// }

#navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    // height: 70px;
    background: var(--main-dark-bg);
    color: var(--font-white);
    z-index: 100;
    cursor: pointer;
    position: fixed;
    top: 100px;
    padding-top: 20px;
}


.nav-list {
    width: 80%;
    height: 100%;
    height: 40px;
    // padding: 5px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-container {
    border-bottom: 3px solid var(--main-dark-line);
    padding: 0;
    
}

.nav-item {
    line-height: 20px;
    position: relative;
    // &:hover {
    //     color: var(--main-light);
    //     transition: .4s;
    //     &::after  {
    //         content: '';
    //         // left: -20px;
    //         left: 0;
    //         bottom: -2px;
    //         position: absolute;
    //         width: 60%;
    //         height: 2px;
    //         background: var(--main-light);
    //     }
    // }
    
}

.nav-active {
    color: var(--main-light);
        transition: .4s;
        &::after  {
            content: '';
            // left: -20px;
            left: 0;
            bottom: -2px;
            position: absolute;
            width: 60%;
            height: 2px;
            background: var(--main-light);
        }
}
